<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="google-site-verification" content="L5DviuJLMLTwBEFcKNQ4YxrjdLJsoa6Xc5nFv7qJYG8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/main-about.css">
        <style>
            .row {
                margin-right: 30px;
                margin-left: 30px;
            }
        </style>
        <title>Safe routes</title>
    </head>
    <body>
        <div class="container" id="container">
          <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Safe Routes</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/routes/crime_seriousness">Crime Seriousness</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
              </nav>
            </div>
          </nav>
          <!-- Full Width Image Header -->
            <header class="header-image">
                <div class="headline">
                    <div class="container">
                        <h1>Safe Routes</h1>
                        <h2>An approach to discover how safe it is to walk in the streets of the UK using Open Data.</h2>
                    </div>
                </div>
            </header>

            <!-- Page Content -->
            <div class="container">

                <hr class="featurette-divider">

                <!-- First Featurette -->
                <div class="featurette" id="about">
                    <img alt="Image representing the description of the app" class="featurette-image img-circle img-responsive pull-right" src="/static/images/safety.png">
                    <h2 class="featurette-heading">
                        Find a route and discover how safe it is
                    </h2>
                    <p class="lead">
                        Safe Routes uses Google Maps and Open Crime Data to recommend up to three routes to walk between two locations in England, Wales and Northern Ireland,
                        highlighting the shortest, the safest and the best (in terms of distance and crime occurrences) route.
                    </p>
                </div>

                <hr class="featurette-divider">

                <!-- Second Featurette -->
                <div class="featurette" id="services">
                    <img alt="Image representing the features of the app" class="featurette-image img-circle img-responsive pull-left" src="/static/images/detail.png">
                    <h2 class="featurette-heading">
                        Visualize street-level crimes along a route
                    </h2>
                    <p class="lead">
                        Safe Routes provides a visulization of all the crime incidences that have occurred along a given route.
                        You can identify number of incidences classified by type, and compare the different routes recommended by the application to
                        find out the best one for you. Moreover, you can explore the details of each crime identified such as the status and outcome.
                    </p>
                </div>

                <hr class="featurette-divider">

                <!-- Third Featurette -->
                <div class="featurette" id="contact">
                    <img alt="Image indicating the provenance of the data" class="featurette-image img-circle img-responsive pull-right" src="/static/images/police.png">
                    <h2 class="featurette-heading">
                        Crime data provenance
                    </h2>
                    <p class="lead">
                        The crime data used on this web application is published for free by the Home Office of the UK. It collects the crime incidences of the
                        43 geographic police forces in England and Wales, the British Transport Police, the Police Service of Northern Ireland and the
                        Ministry of Justice. For more information please visit the <a href="https://data.police.uk/about/">data.police.uk</a> website.
                    </p>
                </div>

                <hr class="featurette-divider">

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; University of Southampton 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
        </div>

        <script type="text/javascript" src="/static/js/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
    </body>
</html>